<div class="sectionMovies">
    {{#each movies}}
    <div class="movie">
        <img src="{{image}}" height="400px"/>
        <h2>{{this.title}}</h2>
        <a class="movieLink" href="/movies/{{_id}}">For more</a>
    </div>
{{/each}}
</div>