<h1>Movies</h1>
<div id="movies">
  {{#each movies}}
    <div class="movie-card">
      <h3>{{title}}</h3>
      <img src="{{image}}" alt="Movie cover">
      <a href="/movie/{{_id}}">See more</a>
    </div>
  {{/each}}
</div>